<h1>Client: <%= @client.identifier %>, Event: <%= @event.name %> </h1>

<h3>Total occurences of event: <%= @event_payload_requests.count %></h3>

<table class="table table-striped">
  <tr>
    <td>Hour (24-hour Time)</td>
    <td>Number of Occurences</td>
  </tr>

  <% (0..23).to_a.each do |hour| %>
    <tr>
      <td><%= hour %>:00</td>
      <% if @event_time_hash.find{|array| array[0] == hour}.present? %>
        <td><b><%= @event_time_hash.find{|array| array[0] == hour}[1].count %></b></td>
      <% else %>
        <td>0</td>
      <% end %>
    </tr>
  <% end %>

</table>
